<body style="margin-top:16px;margin-bottom:54px;color: #25363E">
 <div class="container" id="content">
      <div class="text-center">
         
 <div class="container-fluid">
    <div class="col">     
      <div class="row-sm-3">
       <div class="row" style="margin-top: 30px;">
         <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[0]}}" style="max-height: 350px;max-width: 250px;" class="pad" alt="Card image cap"><h6> {{names[0]}} </h6> </div>
         <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[1]}}" style="max-height: 350px;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[1]}} </h6>  </div>
         <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[2]}}" style="max-height: 350px;;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[2]}} </h6>  </div>
         <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[3]}}" style="max-height: 350px;;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[3]}} </h6> </div>
       </div>
     </div>
     
      <div class="row-sm-3">
         <div class="row" style="margin-top: 30px">
             <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[4]}}" style="max-height: 350px;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[4]}} </h6>   </div>
             <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[5]}}" style="max-height: 350px;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[5]}} </h6>  </div>
             <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[6]}}" style="max-height: 350px;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[6]}} </h6> </div>
             <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[7]}}"  style="max-height: 350px;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[7]}} </h6>  </div>
           </div>
      </div>
 
      <div class="row-sm-3">
         <div class="row" style="margin-top: 30px">
             <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[8]}}"  style="max-height: 350px;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[8]}} </h6>  </div>
             <div class="col-sm-3">  <img src="https://image.tmdb.org/t/p/w500/{{urls[9]}}" style="max-height: 350px;max-width: 250px" class="pad" alt="Card image cap"> <h6> {{names[9]}} </h6>  </div>
           </div>
      </div>

      <div class="row-sm-3" style="background-color: #25303E" >
          <div class="row" style="margin-top: 30px;" >
              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3">
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                          <a >Page</a>
                      </li>
                     
                      <li>
                        <a>{{ pager.currentPage }}  of {{ pager.totalPages }}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}">
                          <a (click)="setPage(pager.currentPage - 1)" ><</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                          <a (click)="setPage(pager.currentPage + 1)" >></a>
                      </li>
                  </ul>  
              </div>
            </div>
      </div>

    </div>
  </div>
  </div>
</div>
</body>