<link rel="stylesheet" href="../assets/demo.css">
<link rel="stylesheet" href="../assets/sidebar-left.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<body >
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1">
				
				<aside class="sidebar-left">
				<a class="company-logo">Filmbeat</a>
				<div class="sidebar-links">
					<a class="link-blue" routerLink="/trending"><i class="fa fa-bar-chart"></i>Trending Chart</a>
					<a class="link-red " routerLink="/popular"> <i class="fa fa-file-video-o"></i>Popular Movies</a>
				</div>
				</aside>	
			</div>

			<div class="col-sm-11">
					<router-outlet ></router-outlet>
			</div>
	</div>


</div>
</body>